@media (min-width: 1300px) {
  .text-content {
    position: relative;
    bottom: 300px;
    left: 410px;
  }
}

@media (min-width: 767px) {
  section {
    padding-left: 135px;
    padding-right: 135px;
  }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 24px 135px 24px 135px;
  }
  .profile {
    &-menu {
      position: relative;
      top: 35px;
      left: 320px;
      margin-bottom: 0;
    }
  }
  .interaction-content {
    padding-left: 16px;
  }
}

@media (min-width: 650px) {
  .oval__colorful {
    top: 94px;
    right: 135px;
  }
  .header-list {
    margin-left: 98px;
    &__item {
      padding: 0 37px;
    }
  }
}
